
<img src="../src/assets/image/webiis.jpg" id="topimage">
<nav class="navbar navbar-expand navbar-light bg-light">
  <button id="navbutton"> <div class="collapse navbar-collapse" >  
  <ul class="nav nav-tabs">
      <li class="nav-item">
          |
        </li>
      <li class="nav-item">
          <input type="button" class="bhead" value="Doctor" (click)="docFunc()"/>
        </li>
        <li class="nav-item">
          |
        </li>
        
    <li>
        <p id="login">
            | <b>{{name_}} | <a role="button" (click)="logout()" ><span>Logout</span></a></b>
             </p></li>
  </ul>
  </div>
</button>
</nav>
