
<img src="../src/assets/image/webiis.jpg" id="topimage">
<nav class="navbar navbar-expand navbar-light bg-light">
  <button id="navbutton"> <div class="collapse navbar-collapse" >  
  <ul class="nav nav-tabs">
      <li class="nav-item">
          |
        </li>
      <li class="nav-item">
          <button  class="bhead" routerLink="/home" routerLinkActive="active"> Register New Child </button>
        </li>
        <li class="nav-item">
          |
        </li>
       
         
    <li>
       <p id="login">
       | <b>{{name_}} | <a role="button" (click)="logout()" ><span>Logout</span></a></b>
        </p></li>
  </ul>
  </div>
</button>
</nav>
<div >
  
</div>